/*!
 * # Fomantic-UI - Container
 * http://github.com/fomantic/Fomantic-UI/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */


/*******************************
            Container
*******************************/


/* All Sizes */
.ui.container {
  display: block;
  max-width: 1370px;
}

/* Mobile */
@media only screen and (max-width: 767.98px) {
  .ui.ui.ui.container:not(.fluid) {
    width: auto;
    margin-left: 1em;
    margin-right: 1em;
  }
  .ui.ui.ui.grid.container {
    width: auto;
  }
  .ui.ui.ui.relaxed.grid.container {
    width: auto;
  }
  .ui.ui.ui.very.relaxed.grid.container {
    width: auto;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .ui.ui.ui.container:not(.fluid) {
    width: 723px;
    margin-left: auto;
    margin-right: auto;
  }
  .ui.ui.ui.grid.container {
    width: calc(723px + 2rem);
  }
  .ui.ui.ui.relaxed.grid.container {
    width: calc(723px + 3rem);
  }
  .ui.ui.ui.very.relaxed.grid.container {
    width: calc(723px + 5rem);
  }
}

/* Small Monitor */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .ui.ui.ui.container:not(.fluid) {
    width: 933px;
    margin-left: auto;
    margin-right: auto;
  }
  .ui.ui.ui.grid.container {
    width: calc(933px + 2rem);
  }
  .ui.ui.ui.relaxed.grid.container {
    width: calc(933px + 3rem);
  }
  .ui.ui.ui.very.relaxed.grid.container {
    width: calc(933px + 5rem);
  }
}

/* Large Monitor */
@media only screen and (min-width: 1200px) {
  .ui.ui.ui.container:not(.fluid) {
    width: 1127px;
    margin-left: auto;
    margin-right: auto;
  }
  .ui.ui.ui.grid.container {
    width: calc(1127px + 2rem);
  }
  .ui.ui.ui.relaxed.grid.container {
    width: calc(1127px + 3rem);
  }
  .ui.ui.ui.very.relaxed.grid.container {
    width: calc(1127px + 5rem);
  }
}


/*******************************
             Types
*******************************/


/* Text Container */
.ui.text.container {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  max-width: 700px;
  line-height: 1.5;
  font-size: 1.14285714rem;
}

/* Fluid */
.ui.fluid.container {
  width: 100%;
}


/*******************************
           Variations
*******************************/

.ui[class*="left aligned"].container {
  text-align: left;
}
.ui[class*="center aligned"].container {
  text-align: center;
}
.ui[class*="right aligned"].container {
  text-align: right;
}
.ui.justified.container {
  text-align: justify;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}


/*******************************
         Theme Overrides
*******************************/



/*******************************
         Site Overrides
*******************************/

