/*!
 * # Fomantic-UI - Label
 * http://github.com/fomantic/Fomantic-UI/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */


/*******************************
            Label
*******************************/

.ui.label {
  display: inline-block;
  line-height: 1;
  vertical-align: baseline;
  margin: 0 0.14285714em;
  background-color: #E8E8E8;
  background-image: none;
  padding: 0.5833em 0.833em;
  color: rgba(0, 0, 0, 0.6);
  text-transform: none;
  font-weight: bold;
  border: 0 solid transparent;
  border-radius: 0.28571429rem;
  -webkit-transition: background 0.1s ease;
  transition: background 0.1s ease;
}
.ui.label:first-child {
  margin-left: 0;
}
.ui.label:last-child {
  margin-right: 0;
}

/* Link */
a.ui.label {
  cursor: pointer;
}

/* Inside Link */
.ui.label > a {
  cursor: pointer;
  color: inherit;
  opacity: 0.5;
  -webkit-transition: 0.1s opacity ease;
  transition: 0.1s opacity ease;
}
.ui.label > a:hover {
  opacity: 1;
}

/* Image */
.ui.label > img {
  width: auto !important;
  vertical-align: middle;
  height: 2.1666em;
}

/* Icon */
.ui.left.icon.label > .icon,
.ui.label > .icon {
  width: auto;
  margin: 0 0.75em 0 0;
}

/* Detail */
.ui.label > .detail {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  margin-left: 1em;
  opacity: 0.8;
}
.ui.label > .detail .icon {
  margin: 0 0.25em 0 0;
}

/* Removable label */
.ui.label > .close.icon,
.ui.label > .delete.icon {
  cursor: pointer;
  font-size: 0.92857143em;
  opacity: 0.5;
  -webkit-transition: background 0.1s ease;
  transition: background 0.1s ease;
}
.ui.label > .close.icon:hover,
.ui.label > .delete.icon:hover {
  opacity: 1;
}

/* Backward compatible positioning */
.ui.label.left.icon > .close.icon,
.ui.label.left.icon > .delete.icon {
  margin: 0 0.5em 0 0;
}
.ui.label:not(.icon) > .close.icon,
.ui.label:not(.icon) > .delete.icon {
  margin: 0 0 0 0.5em;
}

/* Label for only an icon */
.ui.icon.label > .icon {
  margin: 0 auto;
}

/* Right Side Icon */
.ui.right.icon.label > .icon {
  margin: 0 0 0 0.75em;
}

/*-------------------
       Group
--------------------*/

.ui.labels > .label {
  margin: 0 0.5em 0.5em 0;
}

/*-------------------
       Coupling
--------------------*/

.ui.header > .ui.label {
  margin-top: -0.29165em;
}

/* Remove border radius on attached segment */
.ui.attached.segment > .ui.top.left.attached.label,
.ui.bottom.attached.segment > .ui.top.left.attached.label {
  border-top-left-radius: 0;
}
.ui.attached.segment > .ui.top.right.attached.label,
.ui.bottom.attached.segment > .ui.top.right.attached.label {
  border-top-right-radius: 0;
}
.ui.top.attached.segment > .ui.bottom.left.attached.label {
  border-bottom-left-radius: 0;
}
.ui.top.attached.segment > .ui.bottom.right.attached.label {
  border-bottom-right-radius: 0;
}

/* Padding on next content after a label */
.ui.top.attached.label ~ .ui.bottom.attached.label + :not(.attached),
.ui.top.attached.label + :not(.attached) {
  margin-top: 2rem !important;
}
.ui.bottom.attached.label ~ :last-child:not(.attached) {
  margin-top: 0;
  margin-bottom: 2rem !important;
}


/*******************************
             Types
*******************************/

.ui.image.label {
  width: auto !important;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 9999px;
  vertical-align: baseline;
  text-transform: none;
  background: #E8E8E8;
  padding: 0.5833em 0.833em 0.5833em 0.5em;
  border-radius: 0.28571429rem;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.ui.image.label img {
  display: inline-block;
  vertical-align: top;
  height: 2.1666em;
  margin: -0.5833em 0.5em -0.5833em -0.5em;
  border-radius: 0.28571429rem 0 0 0.28571429rem;
}
.ui.image.label .detail {
  background: rgba(0, 0, 0, 0.1);
  margin: -0.5833em -0.833em -0.5833em 0.5em;
  padding: 0.5833em 0.833em;
  border-radius: 0 0.28571429rem 0.28571429rem 0;
}

/*-------------------
         Tag
--------------------*/

.ui.tag.labels .label,
.ui.tag.label {
  margin-left: 1em;
  position: relative;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: 0 0.28571429rem 0.28571429rem 0;
  -webkit-transition: none;
  transition: none;
}
.ui.tag.labels .label:before,
.ui.tag.label:before {
  position: absolute;
  -webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg);
          transform: translateY(-50%) translateX(50%) rotate(-45deg);
  top: 50%;
  right: 100%;
  content: '';
  background-color: inherit;
  background-image: none;
  width: 1.56em;
  height: 1.56em;
  -webkit-transition: none;
  transition: none;
}
.ui.tag.labels .label:after,
.ui.tag.label:after {
  position: absolute;
  content: '';
  top: 50%;
  left: -0.25em;
  margin-top: -0.25em;
  background-color: #FFFFFF;
  width: 0.5em;
  height: 0.5em;
  -webkit-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3);
  border-radius: 500rem;
}
.ui.basic.tag.labels .label:before,
.ui.basic.tag.label:before {
  border-color: inherit;
  border-width: 1px 0 0 1px;
  border-style: inherit;
  right: calc(100% + 1px);
}
.ui.basic.tag.labels .label:after,
.ui.basic.tag.label:after {
  -webkit-box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.8);
}

/*-------------------
    Corner Label
--------------------*/

.ui.corner.label {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  border-color: #E8E8E8;
  width: 4em;
  height: 4em;
  z-index: 1;
  -webkit-transition: border-color 0.1s ease;
  transition: border-color 0.1s ease;
}

/* Icon Label */
.ui.corner.label {
  background-color: transparent !important;
}
.ui.corner.label:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  z-index: -1;
  width: 0;
  height: 0;
  background-color: transparent;
  border-top: 0 solid transparent;
  border-right: 4em solid transparent;
  border-bottom: 4em solid transparent;
  border-left: 0 solid transparent;
  border-right-color: inherit;
  -webkit-transition: border-color 0.1s ease;
  transition: border-color 0.1s ease;
}
.ui.corner.label .icon {
  cursor: inherit;
  position: absolute;
  top: 0.64285714em;
  left: auto;
  right: 0.57142857em;
  font-size: 1.14285714em;
  margin: 0;
}

/* Left Corner */
.ui.left.corner.label,
.ui.left.corner.label:after {
  right: auto;
  left: 0;
}
.ui.left.corner.label:after {
  border-top: 4em solid transparent;
  border-right: 4em solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 0 solid transparent;
  border-top-color: inherit;
}
.ui.left.corner.label .icon {
  left: 0.57142857em;
  right: auto;
}

/* Segment */
.ui.segment > .ui.corner.label {
  top: -1px;
  right: -1px;
}
.ui.segment > .ui.left.corner.label {
  right: auto;
  left: -1px;
}

/*-------------------
         Ribbon
  --------------------*/

.ui.ribbon.label {
  position: relative;
  margin: 0;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  border-radius: 0 0.28571429rem 0.28571429rem 0;
  border-color: rgba(0, 0, 0, 0.15);
}
.ui.ribbon.label:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  background-color: transparent;
  border-style: solid;
  border-width: 0 1.2em 1.2em 0;
  border-color: transparent;
  border-right-color: inherit;
  width: 0;
  height: 0;
}

/* Positioning */
.ui.ribbon.label {
  left: calc(-1rem - 1.2em);
  margin-right: -1.2em;
  padding-left: calc(1rem + 1.2em);
  padding-right: 1.2em;
}
.ui[class*="right ribbon"].label {
  left: calc(100% + 1rem + 1.2em);
  padding-left: 1.2em;
  padding-right: calc(1rem + 1.2em);
}
.ui.basic.ribbon.label {
  padding-top: calc(0.5833em - 1px);
  padding-bottom: calc(0.5833em - 1px);
}
.ui.basic.ribbon.label:not([class*="right ribbon"]) {
  padding-left: calc(1rem + 1.2em - 1px);
  padding-right: calc(1.2em - 1px);
}
.ui.basic[class*="right ribbon"].label {
  padding-left: calc(1.2em - 1px);
  padding-right: calc(1rem + 1.2em - 1px);
}
.ui.basic.ribbon.label::after {
  top: calc(100% + 1px);
}
.ui.basic.ribbon.label:not([class*="right ribbon"])::after {
  left: -1px;
}
.ui.basic[class*="right ribbon"].label::after {
  right: -1px;
}

/* Right Ribbon */
.ui[class*="right ribbon"].label {
  text-align: left;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  border-radius: 0.28571429rem 0 0 0.28571429rem;
}
.ui[class*="right ribbon"].label:after {
  left: auto;
  right: 0;
  border-style: solid;
  border-width: 1.2em 1.2em 0 0;
  border-color: transparent;
  border-top-color: inherit;
}

/* Inside Table */
.ui.image > .ribbon.label,
.ui.card .image > .ribbon.label {
  position: absolute;
  top: 1rem;
}
.ui.card .image > .ui.ribbon.label,
.ui.image > .ui.ribbon.label {
  left: calc(0.05rem - 1.2em);
}
.ui.card .image > .ui[class*="right ribbon"].label,
.ui.image > .ui[class*="right ribbon"].label {
  left: calc(100% + -0.05rem + 1.2em);
  padding-left: 0.833em;
}

/* Inside Table */
.ui.table td > .ui.ribbon.label {
  left: calc(-1em - 1.2em);
}
.ui.table td > .ui[class*="right ribbon"].label {
  left: calc(100% + 1em + 1.2em);
  padding-left: 0.833em;
}

/*-------------------
        Attached
  --------------------*/

.ui[class*="top attached"].label,
.ui.attached.label {
  width: 100%;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  padding: 0.75em 1em;
  border-radius: 0.21428571rem 0.21428571rem 0 0;
}
.ui[class*="bottom attached"].label {
  top: auto;
  bottom: 0;
  border-radius: 0 0 0.21428571rem 0.21428571rem;
}
.ui[class*="top left attached"].label {
  width: auto;
  margin-top: 0 !important;
  border-radius: 0.21428571rem 0 0.28571429rem 0;
}
.ui[class*="top right attached"].label {
  width: auto;
  left: auto;
  right: 0;
  border-radius: 0 0.21428571rem 0 0.28571429rem;
}
.ui[class*="bottom left attached"].label {
  width: auto;
  top: auto;
  bottom: 0;
  border-radius: 0 0.28571429rem 0 0.21428571rem;
}
.ui[class*="bottom right attached"].label {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
  width: auto;
  border-radius: 0.28571429rem 0 0.21428571rem 0;
}


/*******************************
             States
*******************************/


/*-------------------
      Disabled
--------------------*/

.ui.label.disabled {
  opacity: 0.5;
}

/*-------------------
        Hover
--------------------*/

.ui.labels a.label:hover,
a.ui.label:hover {
  background-color: #E0E0E0;
  border-color: #E0E0E0;
  background-image: none;
  color: rgba(0, 0, 0, 0.8);
}
.ui.labels a.label:hover:before,
a.ui.label:hover:before {
  color: rgba(0, 0, 0, 0.8);
}

/*-------------------
        Active
--------------------*/

.ui.active.label {
  background-color: #D0D0D0;
  border-color: #D0D0D0;
  background-image: none;
  color: rgba(0, 0, 0, 0.95);
}
.ui.active.label:before {
  background-color: #D0D0D0;
  background-image: none;
  color: rgba(0, 0, 0, 0.95);
}

/*-------------------
     Active Hover
--------------------*/

.ui.labels a.active.label:hover,
a.ui.active.label:hover {
  background-color: #C8C8C8;
  border-color: #C8C8C8;
  background-image: none;
  color: rgba(0, 0, 0, 0.95);
}
.ui.labels a.active.label:hover:before,
a.ui.active.label:hover:before {
  background-color: #C8C8C8;
  background-image: none;
  color: rgba(0, 0, 0, 0.95);
}

/*-------------------
      Visible
--------------------*/

.ui.labels.visible .label,
.ui.label.visible:not(.dropdown) {
  display: inline-block !important;
}

/*-------------------
      Hidden
--------------------*/

.ui.labels.hidden .label,
.ui.label.hidden {
  display: none !important;
}


/*******************************
           Variations
*******************************/


/*-------------------
          Basic
  --------------------*/

.ui.basic.labels .label,
.ui.basic.label {
  background: none #FFFFFF;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* Link */
.ui.basic.labels a.label:hover,
a.ui.basic.label:hover {
  text-decoration: none;
  background: none #FFFFFF;
  color: #cd8e42;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* Pointing */
.ui.basic.pointing.label:before {
  border-color: inherit;
}

/*-------------------
         Fluid
  --------------------*/

.ui.label.fluid,
.ui.fluid.labels > .label {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*-------------------
         Inverted
  --------------------*/

.ui.inverted.labels .label,
.ui.inverted.label {
  color: rgba(255, 255, 255, 0.9);
  background-color: #b5b5b5;
}
.ui.inverted.corner.label {
  border-color: #b5b5b5;
}
.ui.inverted.corner.label:hover {
  border-color: #E8E8E8;
  -webkit-transition: none;
  transition: none;
}
.ui.inverted.basic.labels .label,
.ui.inverted.basic.label,
.ui.inverted.basic.label:hover {
  border-color: rgba(255, 255, 255, 0.5);
  background: #1B1C1D;
}
.ui.inverted.basic.label:hover {
  color: #C4A37B;
}

/*-------------------
       Colors
--------------------*/

.ui.primary.labels .label,
.ui.ui.ui.primary.label {
  background-color: #2185D0;
  border-color: #2185D0;
  color: rgba(255, 255, 255, 0.9);
}

/* Link */
.ui.primary.labels a.label:hover,
a.ui.ui.ui.primary.label:hover {
  background-color: #1678c2;
  border-color: #1678c2;
  color: #FFFFFF;
}

/* Ribbon */
.ui.ui.ui.primary.ribbon.label {
  border-color: #1a69a4;
}

/* Basic */
.ui.basic.labels .primary.label,
.ui.ui.ui.basic.primary.label {
  background: none #FFFFFF;
  border-color: #2185D0;
  color: #2185D0;
}
.ui.basic.labels a.primary.label:hover,
a.ui.ui.ui.basic.primary.label:hover {
  background: none #FFFFFF;
  border-color: #1678c2;
  color: #1678c2;
}

/* Inverted */
.ui.inverted.labels .primary.label,
.ui.ui.ui.inverted.primary.label {
  background-color: #54C8FF;
  border-color: #54C8FF;
  color: #1B1C1D;
}

/* Inverted Link */
.ui.inverted.labels a.primary.label:hover,
a.ui.ui.ui.inverted.primary.label:hover {
  background-color: #21b8ff;
  border-color: #21b8ff;
  color: #1B1C1D;
}

/* Inverted Ribbon */
.ui.ui.ui.inverted.primary.ribbon.label {
  border-color: #21b8ff;
}

/* Inverted Basic */
.ui.inverted.basic.labels .primary.label,
.ui.ui.ui.inverted.basic.primary.label {
  background-color: #1B1C1D;
  border-color: #54C8FF;
  color: #54C8FF;
}
.ui.inverted.basic.labels a.primary.label:hover,
a.ui.ui.ui.inverted.basic.primary.label:hover {
  border-color: #21b8ff;
  background-color: #1B1C1D;
  color: #21b8ff;
}

/* Inverted Basic Tags */
.ui.inverted.basic.tag.labels .primary.label,
.ui.ui.ui.inverted.primary.basic.tag.label {
  border: 1px solid #54C8FF;
}
.ui.inverted.basic.tag.labels .primary.label:before,
.ui.ui.ui.inverted.primary.basic.tag.label:before {
  border-color: inherit;
  border-width: 1px 0 0 1px;
  border-style: inherit;
  background-color: #1B1C1D;
  right: calc(100% + 1px);
}
.ui.secondary.labels .label,
.ui.ui.ui.secondary.label {
  background-color: #1B1C1D;
  border-color: #1B1C1D;
  color: rgba(255, 255, 255, 0.9);
}

/* Link */
.ui.secondary.labels a.label:hover,
a.ui.ui.ui.secondary.label:hover {
  background-color: #27292a;
  border-color: #27292a;
  color: #FFFFFF;
}

/* Ribbon */
.ui.ui.ui.secondary.ribbon.label {
  border-color: #020203;
}

/* Basic */
.ui.basic.labels .secondary.label,
.ui.ui.ui.basic.secondary.label {
  background: none #FFFFFF;
  border-color: #1B1C1D;
  color: #1B1C1D;
}
.ui.basic.labels a.secondary.label:hover,
a.ui.ui.ui.basic.secondary.label:hover {
  background: none #FFFFFF;
  border-color: #27292a;
  color: #27292a;
}

/* Inverted */
.ui.inverted.labels .secondary.label,
.ui.ui.ui.inverted.secondary.label {
  background-color: #545454;
  border-color: #545454;
  color: #1B1C1D;
}

/* Inverted Link */
.ui.inverted.labels a.secondary.label:hover,
a.ui.ui.ui.inverted.secondary.label:hover {
  background-color: #6e6e6e;
  border-color: #6e6e6e;
  color: #1B1C1D;
}

/* Inverted Ribbon */
.ui.ui.ui.inverted.secondary.ribbon.label {
  border-color: #3b3b3b;
}

/* Inverted Basic */
.ui.inverted.basic.labels .secondary.label,
.ui.ui.ui.inverted.basic.secondary.label {
  background-color: #1B1C1D;
  border-color: #545454;
  color: #545454;
}
.ui.inverted.basic.labels a.secondary.label:hover,
a.ui.ui.ui.inverted.basic.secondary.label:hover {
  border-color: #6e6e6e;
  background-color: #1B1C1D;
  color: #6e6e6e;
}

/* Inverted Basic Tags */
.ui.inverted.basic.tag.labels .secondary.label,
.ui.ui.ui.inverted.secondary.basic.tag.label {
  border: 1px solid #545454;
}
.ui.inverted.basic.tag.labels .secondary.label:before,
.ui.ui.ui.inverted.secondary.basic.tag.label:before {
  border-color: inherit;
  border-width: 1px 0 0 1px;
  border-style: inherit;
  background-color: #1B1C1D;
  right: calc(100% + 1px);
}
.ui.red.labels .label,
.ui.ui.ui.red.label {
  background-color: #DB2828;
  border-color: #DB2828;
  color: #FFFFFF;
}

/* Link */
.ui.red.labels a.label:hover,
a.ui.ui.ui.red.label:hover {
  background-color: #d01919;
  border-color: #d01919;
  color: #FFFFFF;
}

/* Ribbon */
.ui.ui.ui.red.ribbon.label {
  border-color: #b21e1e;
}

/* Basic */
.ui.basic.labels .red.label,
.ui.ui.ui.basic.red.label {
  background: none #FFFFFF;
  border-color: #DB2828;
  color: #DB2828;
}
.ui.basic.labels a.red.label:hover,
a.ui.ui.ui.basic.red.label:hover {
  background: none #FFFFFF;
  border-color: #d01919;
  color: #d01919;
}

/* Inverted */
.ui.inverted.labels .red.label,
.ui.ui.ui.inverted.red.label {
  background-color: #FF695E;
  border-color: #FF695E;
  color: #1B1C1D;
}

/* Inverted Link */
.ui.inverted.labels a.red.label:hover,
a.ui.ui.ui.inverted.red.label:hover {
  background-color: #ff392b;
  border-color: #ff392b;
  color: #1B1C1D;
}

/* Inverted Ribbon */
.ui.ui.ui.inverted.red.ribbon.label {
  border-color: #ff392b;
}

/* Inverted Basic */
.ui.inverted.basic.labels .red.label,
.ui.ui.ui.inverted.basic.red.label {
  background-color: #1B1C1D;
  border-color: #FF695E;
  color: #FF695E;
}
.ui.inverted.basic.labels a.red.label:hover,
a.ui.ui.ui.inverted.basic.red.label:hover {
  border-color: #ff392b;
  background-color: #1B1C1D;
  color: #ff392b;
}

/* Inverted Basic Tags */
.ui.inverted.basic.tag.labels .red.label,
.ui.ui.ui.inverted.red.basic.tag.label {
  border: 1px solid #FF695E;
}
.ui.inverted.basic.tag.labels .red.label:before,
.ui.ui.ui.inverted.red.basic.tag.label:before {
  border-color: inherit;
  border-width: 1px 0 0 1px;
  border-style: inherit;
  background-color: #1B1C1D;
  right: calc(100% + 1px);
}
.ui.orange.labels .label,
.ui.ui.ui.orange.label {
  background-color: #F2711C;
  border-color: #F2711C;
  color: #FFFFFF;
}

/* Link */
.ui.orange.labels a.label:hover,
a.ui.ui.ui.orange.label:hover {
  background-color: #f26202;
  border-color: #f26202;
  color: #FFFFFF;
}

/* Ribbon */
.ui.ui.ui.orange.ribbon.label {
  border-color: #cf590c;
}

/* Basic */
.ui.basic.labels .orange.label,
.ui.ui.ui.basic.orange.label {
  background: none #FFFFFF;
  border-color: #F2711C;
  color: #F2711C;
}
.ui.basic.labels a.orange.label:hover,
a.ui.ui.ui.basic.orange.label:hover {
  background: none #FFFFFF;
  border-color: #f26202;
  color: #f26202;
}

/* Inverted */
.ui.inverted.labels .orange.label,
.ui.ui.ui.inverted.orange.label {
  background-color: #FF851B;
  border-color: #FF851B;
  color: #1B1C1D;
}

/* Inverted Link */
.ui.inverted.labels a.orange.label:hover,
a.ui.ui.ui.inverted.orange.label:hover {
  background-color: #e76b00;
  border-color: #e76b00;
  color: #1B1C1D;
}

/* Inverted Ribbon */
.ui.ui.ui.inverted.orange.ribbon.label {
  border-color: #e76b00;
}

/* Inverted Basic */
.ui.inverted.basic.labels .orange.label,
.ui.ui.ui.inverted.basic.orange.label {
  background-color: #1B1C1D;
  border-color: #FF851B;
  color: #FF851B;
}
.ui.inverted.basic.labels a.orange.label:hover,
a.ui.ui.ui.inverted.basic.orange.label:hover {
  border-color: #e76b00;
  background-color: #1B1C1D;
  color: #e76b00;
}

/* Inverted Basic Tags */
.ui.inverted.basic.tag.labels .orange.label,
.ui.ui.ui.inverted.orange.basic.tag.label {
  border: 1px solid #FF851B;
}
.ui.inverted.basic.tag.labels .orange.label:before,
.ui.ui.ui.inverted.orange.basic.tag.label:before {
  border-color: inherit;
  border-width: 1px 0 0 1px;
  border-style: inherit;
  background-color: #1B1C1D;
  right: calc(100% + 1px);
}
.ui.yellow.labels .label,
.ui.ui.ui.yellow.label {
  background-color: #FBBD08;
  border-color: #FBBD08;
  color: #FFFFFF;
}

/* Link */
.ui.yellow.labels a.label:hover,
a.ui.ui.ui.yellow.label:hover {
  background-color: #eaae00;
  border-color: #eaae00;
  color: #FFFFFF;
}

/* Ribbon */
.ui.ui.ui.yellow.ribbon.label {
  border-color: #cd9903;
}

/* Basic */
.ui.basic.labels .yellow.label,
.ui.ui.ui.basic.yellow.label {
  background: none #FFFFFF;
  border-color: #FBBD08;
  color: #FBBD08;
}
.ui.basic.labels a.yellow.label:hover,
a.ui.ui.ui.basic.yellow.label:hover {
  background: none #FFFFFF;
  border-color: #eaae00;
  color: #eaae00;
}

/* Inverted */
.ui.inverted.labels .yellow.label,
.ui.ui.ui.inverted.yellow.label {
  background-color: #FFE21F;
  border-color: #FFE21F;
  color: #1B1C1D;
}

/* Inverted Link */
.ui.inverted.labels a.yellow.label:hover,
a.ui.ui.ui.inverted.yellow.label:hover {
  background-color: #ebcd00;
  border-color: #ebcd00;
  color: #1B1C1D;
}

/* Inverted Ribbon */
.ui.ui.ui.inverted.yellow.ribbon.label {
  border-color: #ebcd00;
}

/* Inverted Basic */
.ui.inverted.basic.labels .yellow.label,
.ui.ui.ui.inverted.basic.yellow.label {
  background-color: #1B1C1D;
  border-color: #FFE21F;
  color: #FFE21F;
}
.ui.inverted.basic.labels a.yellow.label:hover,
a.ui.ui.ui.inverted.basic.yellow.label:hover {
  border-color: #ebcd00;
  background-color: #1B1C1D;
  color: #ebcd00;
}

/* Inverted Basic Tags */
.ui.inverted.basic.tag.labels .yellow.label,
.ui.ui.ui.inverted.yellow.basic.tag.label {
  border: 1px solid #FFE21F;
}
.ui.inverted.basic.tag.labels .yellow.label:before,
.ui.ui.ui.inverted.yellow.basic.tag.label:before {
  border-color: inherit;
  border-width: 1px 0 0 1px;
  border-style: inherit;
  background-color: #1B1C1D;
  right: calc(100% + 1px);
}
.ui.olive.labels .label,
.ui.ui.ui.olive.label {
  background-color: #B5CC18;
  border-color: #B5CC18;
  color: #FFFFFF;
}

/* Link */
.ui.olive.labels a.label:hover,
a.ui.ui.ui.olive.label:hover {
  background-color: #a7bd0d;
  border-color: #a7bd0d;
  color: #FFFFFF;
}

/* Ribbon */
.ui.ui.ui.olive.ribbon.label {
  border-color: #8d9e13;
}

/* Basic */
.ui.basic.labels .olive.label,
.ui.ui.ui.basic.olive.label {
  background: none #FFFFFF;
  border-color: #B5CC18;
  color: #B5CC18;
}
.ui.basic.labels a.olive.label:hover,
a.ui.ui.ui.basic.olive.label:hover {
  background: none #FFFFFF;
  border-color: #a7bd0d;
  color: #a7bd0d;
}

/* Inverted */
.ui.inverted.labels .olive.label,
.ui.ui.ui.inverted.olive.label {
  background-color: #D9E778;
  border-color: #D9E778;
  color: #1B1C1D;
}

/* Inverted Link */
.ui.inverted.labels a.olive.label:hover,
a.ui.ui.ui.inverted.olive.label:hover {
  background-color: #d2e745;
  border-color: #d2e745;
  color: #1B1C1D;
}

/* Inverted Ribbon */
.ui.ui.ui.inverted.olive.ribbon.label {
  border-color: #cddf4d;
}

/* Inverted Basic */
.ui.inverted.basic.labels .olive.label,
.ui.ui.ui.inverted.basic.olive.label {
  background-color: #1B1C1D;
  border-color: #D9E778;
  color: #D9E778;
}
.ui.inverted.basic.labels a.olive.label:hover,
a.ui.ui.ui.inverted.basic.olive.label:hover {
  border-color: #d2e745;
  background-color: #1B1C1D;
  color: #d2e745;
}

/* Inverted Basic Tags */
.ui.inverted.basic.tag.labels .olive.label,
.ui.ui.ui.inverted.olive.basic.tag.label {
  border: 1px solid #D9E778;
}
.ui.inverted.basic.tag.labels .olive.label:before,
.ui.ui.ui.inverted.olive.basic.tag.label:before {
  border-color: inherit;
  border-width: 1px 0 0 1px;
  border-style: inherit;
  background-color: #1B1C1D;
  right: calc(100% + 1px);
}
.ui.green.labels .label,
.ui.ui.ui.green.label {
  background-color: #21BA45;
  border-color: #21BA45;
  color: #FFFFFF;
}

/* Link */
.ui.green.labels a.label:hover,
a.ui.ui.ui.green.label:hover {
  background-color: #16ab39;
  border-color: #16ab39;
  color: #FFFFFF;
}

/* Ribbon */
.ui.ui.ui.green.ribbon.label {
  border-color: #198f35;
}

/* Basic */
.ui.basic.labels .green.label,
.ui.ui.ui.basic.green.label {
  background: none #FFFFFF;
  border-color: #21BA45;
  color: #21BA45;
}
.ui.basic.labels a.green.label:hover,
a.ui.ui.ui.basic.green.label:hover {
  background: none #FFFFFF;
  border-color: #16ab39;
  color: #16ab39;
}

/* Inverted */
.ui.inverted.labels .green.label,
.ui.ui.ui.inverted.green.label {
  background-color: #2ECC40;
  border-color: #2ECC40;
  color: #1B1C1D;
}

/* Inverted Link */
.ui.inverted.labels a.green.label:hover,
a.ui.ui.ui.inverted.green.label:hover {
  background-color: #1ea92e;
  border-color: #1ea92e;
  color: #1B1C1D;
}

/* Inverted Ribbon */
.ui.ui.ui.inverted.green.ribbon.label {
  border-color: #25a233;
}

/* Inverted Basic */
.ui.inverted.basic.labels .green.label,
.ui.ui.ui.inverted.basic.green.label {
  background-color: #1B1C1D;
  border-color: #2ECC40;
  color: #2ECC40;
}
.ui.inverted.basic.labels a.green.label:hover,
a.ui.ui.ui.inverted.basic.green.label:hover {
  border-color: #1ea92e;
  background-color: #1B1C1D;
  color: #1ea92e;
}

/* Inverted Basic Tags */
.ui.inverted.basic.tag.labels .green.label,
.ui.ui.ui.inverted.green.basic.tag.label {
  border: 1px solid #2ECC40;
}
.ui.inverted.basic.tag.labels .green.label:before,
.ui.ui.ui.inverted.green.basic.tag.label:before {
  border-color: inherit;
  border-width: 1px 0 0 1px;
  border-style: inherit;
  background-color: #1B1C1D;
  right: calc(100% + 1px);
}
.ui.teal.labels .label,
.ui.ui.ui.teal.label {
  background-color: #00B5AD;
  border-color: #00B5AD;
  color: #FFFFFF;
}

/* Link */
.ui.teal.labels a.label:hover,
a.ui.ui.ui.teal.label:hover {
  background-color: #009c95;
  border-color: #009c95;
  color: #FFFFFF;
}

/* Ribbon */
.ui.ui.ui.teal.ribbon.label {
  border-color: #00827c;
}

/* Basic */
.ui.basic.labels .teal.label,
.ui.ui.ui.basic.teal.label {
  background: none #FFFFFF;
  border-color: #00B5AD;
  color: #00B5AD;
}
.ui.basic.labels a.teal.label:hover,
a.ui.ui.ui.basic.teal.label:hover {
  background: none #FFFFFF;
  border-color: #009c95;
  color: #009c95;
}

/* Inverted */
.ui.inverted.labels .teal.label,
.ui.ui.ui.inverted.teal.label {
  background-color: #6DFFFF;
  border-color: #6DFFFF;
  color: #1B1C1D;
}

/* Inverted Link */
.ui.inverted.labels a.teal.label:hover,
a.ui.ui.ui.inverted.teal.label:hover {
  background-color: #3affff;
  border-color: #3affff;
  color: #1B1C1D;
}

/* Inverted Ribbon */
.ui.ui.ui.inverted.teal.ribbon.label {
  border-color: #3affff;
}

/* Inverted Basic */
.ui.inverted.basic.labels .teal.label,
.ui.ui.ui.inverted.basic.teal.label {
  background-color: #1B1C1D;
  border-color: #6DFFFF;
  color: #6DFFFF;
}
.ui.inverted.basic.labels a.teal.label:hover,
a.ui.ui.ui.inverted.basic.teal.label:hover {
  border-color: #3affff;
  background-color: #1B1C1D;
  color: #3affff;
}

/* Inverted Basic Tags */
.ui.inverted.basic.tag.labels .teal.label,
.ui.ui.ui.inverted.teal.basic.tag.label {
  border: 1px solid #6DFFFF;
}
.ui.inverted.basic.tag.labels .teal.label:before,
.ui.ui.ui.inverted.teal.basic.tag.label:before {
  border-color: inherit;
  border-width: 1px 0 0 1px;
  border-style: inherit;
  background-color: #1B1C1D;
  right: calc(100% + 1px);
}
.ui.blue.labels .label,
.ui.ui.ui.blue.label {
  background-color: #2185D0;
  border-color: #2185D0;
  color: #FFFFFF;
}

/* Link */
.ui.blue.labels a.label:hover,
a.ui.ui.ui.blue.label:hover {
  background-color: #1678c2;
  border-color: #1678c2;
  color: #FFFFFF;
}

/* Ribbon */
.ui.ui.ui.blue.ribbon.label {
  border-color: #1a69a4;
}

/* Basic */
.ui.basic.labels .blue.label,
.ui.ui.ui.basic.blue.label {
  background: none #FFFFFF;
  border-color: #2185D0;
  color: #2185D0;
}
.ui.basic.labels a.blue.label:hover,
a.ui.ui.ui.basic.blue.label:hover {
  background: none #FFFFFF;
  border-color: #1678c2;
  color: #1678c2;
}

/* Inverted */
.ui.inverted.labels .blue.label,
.ui.ui.ui.inverted.blue.label {
  background-color: #54C8FF;
  border-color: #54C8FF;
  color: #1B1C1D;
}

/* Inverted Link */
.ui.inverted.labels a.blue.label:hover,
a.ui.ui.ui.inverted.blue.label:hover {
  background-color: #21b8ff;
  border-color: #21b8ff;
  color: #1B1C1D;
}

/* Inverted Ribbon */
.ui.ui.ui.inverted.blue.ribbon.label {
  border-color: #21b8ff;
}

/* Inverted Basic */
.ui.inverted.basic.labels .blue.label,
.ui.ui.ui.inverted.basic.blue.label {
  background-color: #1B1C1D;
  border-color: #54C8FF;
  color: #54C8FF;
}
.ui.inverted.basic.labels a.blue.label:hover,
a.ui.ui.ui.inverted.basic.blue.label:hover {
  border-color: #21b8ff;
  background-color: #1B1C1D;
  color: #21b8ff;
}

/* Inverted Basic Tags */
.ui.inverted.basic.tag.labels .blue.label,
.ui.ui.ui.inverted.blue.basic.tag.label {
  border: 1px solid #54C8FF;
}
.ui.inverted.basic.tag.labels .blue.label:before,
.ui.ui.ui.inverted.blue.basic.tag.label:before {
  border-color: inherit;
  border-width: 1px 0 0 1px;
  border-style: inherit;
  background-color: #1B1C1D;
  right: calc(100% + 1px);
}
.ui.violet.labels .label,
.ui.ui.ui.violet.label {
  background-color: #6435C9;
  border-color: #6435C9;
  color: #FFFFFF;
}

/* Link */
.ui.violet.labels a.label:hover,
a.ui.ui.ui.violet.label:hover {
  background-color: #5829bb;
  border-color: #5829bb;
  color: #FFFFFF;
}

/* Ribbon */
.ui.ui.ui.violet.ribbon.label {
  border-color: #502aa1;
}

/* Basic */
.ui.basic.labels .violet.label,
.ui.ui.ui.basic.violet.label {
  background: none #FFFFFF;
  border-color: #6435C9;
  color: #6435C9;
}
.ui.basic.labels a.violet.label:hover,
a.ui.ui.ui.basic.violet.label:hover {
  background: none #FFFFFF;
  border-color: #5829bb;
  color: #5829bb;
}

/* Inverted */
.ui.inverted.labels .violet.label,
.ui.ui.ui.inverted.violet.label {
  background-color: #A291FB;
  border-color: #A291FB;
  color: #1B1C1D;
}

/* Inverted Link */
.ui.inverted.labels a.violet.label:hover,
a.ui.ui.ui.inverted.violet.label:hover {
  background-color: #745aff;
  border-color: #745aff;
  color: #1B1C1D;
}

/* Inverted Ribbon */
.ui.ui.ui.inverted.violet.ribbon.label {
  border-color: #7860f9;
}

/* Inverted Basic */
.ui.inverted.basic.labels .violet.label,
.ui.ui.ui.inverted.basic.violet.label {
  background-color: #1B1C1D;
  border-color: #A291FB;
  color: #A291FB;
}
.ui.inverted.basic.labels a.violet.label:hover,
a.ui.ui.ui.inverted.basic.violet.label:hover {
  border-color: #745aff;
  background-color: #1B1C1D;
  color: #745aff;
}

/* Inverted Basic Tags */
.ui.inverted.basic.tag.labels .violet.label,
.ui.ui.ui.inverted.violet.basic.tag.label {
  border: 1px solid #A291FB;
}
.ui.inverted.basic.tag.labels .violet.label:before,
.ui.ui.ui.inverted.violet.basic.tag.label:before {
  border-color: inherit;
  border-width: 1px 0 0 1px;
  border-style: inherit;
  background-color: #1B1C1D;
  right: calc(100% + 1px);
}
.ui.purple.labels .label,
.ui.ui.ui.purple.label {
  background-color: #A333C8;
  border-color: #A333C8;
  color: #FFFFFF;
}

/* Link */
.ui.purple.labels a.label:hover,
a.ui.ui.ui.purple.label:hover {
  background-color: #9627ba;
  border-color: #9627ba;
  color: #FFFFFF;
}

/* Ribbon */
.ui.ui.ui.purple.ribbon.label {
  border-color: #82299f;
}

/* Basic */
.ui.basic.labels .purple.label,
.ui.ui.ui.basic.purple.label {
  background: none #FFFFFF;
  border-color: #A333C8;
  color: #A333C8;
}
.ui.basic.labels a.purple.label:hover,
a.ui.ui.ui.basic.purple.label:hover {
  background: none #FFFFFF;
  border-color: #9627ba;
  color: #9627ba;
}

/* Inverted */
.ui.inverted.labels .purple.label,
.ui.ui.ui.inverted.purple.label {
  background-color: #DC73FF;
  border-color: #DC73FF;
  color: #1B1C1D;
}

/* Inverted Link */
.ui.inverted.labels a.purple.label:hover,
a.ui.ui.ui.inverted.purple.label:hover {
  background-color: #cf40ff;
  border-color: #cf40ff;
  color: #1B1C1D;
}

/* Inverted Ribbon */
.ui.ui.ui.inverted.purple.ribbon.label {
  border-color: #cf40ff;
}

/* Inverted Basic */
.ui.inverted.basic.labels .purple.label,
.ui.ui.ui.inverted.basic.purple.label {
  background-color: #1B1C1D;
  border-color: #DC73FF;
  color: #DC73FF;
}
.ui.inverted.basic.labels a.purple.label:hover,
a.ui.ui.ui.inverted.basic.purple.label:hover {
  border-color: #cf40ff;
  background-color: #1B1C1D;
  color: #cf40ff;
}

/* Inverted Basic Tags */
.ui.inverted.basic.tag.labels .purple.label,
.ui.ui.ui.inverted.purple.basic.tag.label {
  border: 1px solid #DC73FF;
}
.ui.inverted.basic.tag.labels .purple.label:before,
.ui.ui.ui.inverted.purple.basic.tag.label:before {
  border-color: inherit;
  border-width: 1px 0 0 1px;
  border-style: inherit;
  background-color: #1B1C1D;
  right: calc(100% + 1px);
}
.ui.pink.labels .label,
.ui.ui.ui.pink.label {
  background-color: #E03997;
  border-color: #E03997;
  color: #FFFFFF;
}

/* Link */
.ui.pink.labels a.label:hover,
a.ui.ui.ui.pink.label:hover {
  background-color: #e61a8d;
  border-color: #e61a8d;
  color: #FFFFFF;
}

/* Ribbon */
.ui.ui.ui.pink.ribbon.label {
  border-color: #c71f7e;
}

/* Basic */
.ui.basic.labels .pink.label,
.ui.ui.ui.basic.pink.label {
  background: none #FFFFFF;
  border-color: #E03997;
  color: #E03997;
}
.ui.basic.labels a.pink.label:hover,
a.ui.ui.ui.basic.pink.label:hover {
  background: none #FFFFFF;
  border-color: #e61a8d;
  color: #e61a8d;
}

/* Inverted */
.ui.inverted.labels .pink.label,
.ui.ui.ui.inverted.pink.label {
  background-color: #FF8EDF;
  border-color: #FF8EDF;
  color: #1B1C1D;
}

/* Inverted Link */
.ui.inverted.labels a.pink.label:hover,
a.ui.ui.ui.inverted.pink.label:hover {
  background-color: #ff5bd1;
  border-color: #ff5bd1;
  color: #1B1C1D;
}

/* Inverted Ribbon */
.ui.ui.ui.inverted.pink.ribbon.label {
  border-color: #ff5bd1;
}

/* Inverted Basic */
.ui.inverted.basic.labels .pink.label,
.ui.ui.ui.inverted.basic.pink.label {
  background-color: #1B1C1D;
  border-color: #FF8EDF;
  color: #FF8EDF;
}
.ui.inverted.basic.labels a.pink.label:hover,
a.ui.ui.ui.inverted.basic.pink.label:hover {
  border-color: #ff5bd1;
  background-color: #1B1C1D;
  color: #ff5bd1;
}

/* Inverted Basic Tags */
.ui.inverted.basic.tag.labels .pink.label,
.ui.ui.ui.inverted.pink.basic.tag.label {
  border: 1px solid #FF8EDF;
}
.ui.inverted.basic.tag.labels .pink.label:before,
.ui.ui.ui.inverted.pink.basic.tag.label:before {
  border-color: inherit;
  border-width: 1px 0 0 1px;
  border-style: inherit;
  background-color: #1B1C1D;
  right: calc(100% + 1px);
}
.ui.brown.labels .label,
.ui.ui.ui.brown.label {
  background-color: #A5673F;
  border-color: #A5673F;
  color: #FFFFFF;
}

/* Link */
.ui.brown.labels a.label:hover,
a.ui.ui.ui.brown.label:hover {
  background-color: #975b33;
  border-color: #975b33;
  color: #FFFFFF;
}

/* Ribbon */
.ui.ui.ui.brown.ribbon.label {
  border-color: #805031;
}

/* Basic */
.ui.basic.labels .brown.label,
.ui.ui.ui.basic.brown.label {
  background: none #FFFFFF;
  border-color: #A5673F;
  color: #A5673F;
}
.ui.basic.labels a.brown.label:hover,
a.ui.ui.ui.basic.brown.label:hover {
  background: none #FFFFFF;
  border-color: #975b33;
  color: #975b33;
}

/* Inverted */
.ui.inverted.labels .brown.label,
.ui.ui.ui.inverted.brown.label {
  background-color: #D67C1C;
  border-color: #D67C1C;
  color: #1B1C1D;
}

/* Inverted Link */
.ui.inverted.labels a.brown.label:hover,
a.ui.ui.ui.inverted.brown.label:hover {
  background-color: #b0620f;
  border-color: #b0620f;
  color: #1B1C1D;
}

/* Inverted Ribbon */
.ui.ui.ui.inverted.brown.ribbon.label {
  border-color: #a96216;
}

/* Inverted Basic */
.ui.inverted.basic.labels .brown.label,
.ui.ui.ui.inverted.basic.brown.label {
  background-color: #1B1C1D;
  border-color: #D67C1C;
  color: #D67C1C;
}
.ui.inverted.basic.labels a.brown.label:hover,
a.ui.ui.ui.inverted.basic.brown.label:hover {
  border-color: #b0620f;
  background-color: #1B1C1D;
  color: #b0620f;
}

/* Inverted Basic Tags */
.ui.inverted.basic.tag.labels .brown.label,
.ui.ui.ui.inverted.brown.basic.tag.label {
  border: 1px solid #D67C1C;
}
.ui.inverted.basic.tag.labels .brown.label:before,
.ui.ui.ui.inverted.brown.basic.tag.label:before {
  border-color: inherit;
  border-width: 1px 0 0 1px;
  border-style: inherit;
  background-color: #1B1C1D;
  right: calc(100% + 1px);
}
.ui.grey.labels .label,
.ui.ui.ui.grey.label {
  background-color: #767676;
  border-color: #767676;
  color: #FFFFFF;
}

/* Link */
.ui.grey.labels a.label:hover,
a.ui.ui.ui.grey.label:hover {
  background-color: #838383;
  border-color: #838383;
  color: #FFFFFF;
}

/* Ribbon */
.ui.ui.ui.grey.ribbon.label {
  border-color: #5d5d5d;
}

/* Basic */
.ui.basic.labels .grey.label,
.ui.ui.ui.basic.grey.label {
  background: none #FFFFFF;
  border-color: #767676;
  color: #767676;
}
.ui.basic.labels a.grey.label:hover,
a.ui.ui.ui.basic.grey.label:hover {
  background: none #FFFFFF;
  border-color: #838383;
  color: #838383;
}

/* Inverted */
.ui.inverted.labels .grey.label,
.ui.ui.ui.inverted.grey.label {
  background-color: #DCDDDE;
  border-color: #DCDDDE;
  color: #1B1C1D;
}

/* Inverted Link */
.ui.inverted.labels a.grey.label:hover,
a.ui.ui.ui.inverted.grey.label:hover {
  background-color: #c2c4c5;
  border-color: #c2c4c5;
  color: #FFFFFF;
}

/* Inverted Ribbon */
.ui.ui.ui.inverted.grey.ribbon.label {
  border-color: #e9eaea;
}

/* Inverted Basic */
.ui.inverted.basic.labels .grey.label,
.ui.ui.ui.inverted.basic.grey.label {
  background-color: #1B1C1D;
  border-color: #DCDDDE;
  color: rgba(255, 255, 255, 0.9);
}
.ui.inverted.basic.labels a.grey.label:hover,
a.ui.ui.ui.inverted.basic.grey.label:hover {
  border-color: #c2c4c5;
  background-color: #1B1C1D;
}

/* Inverted Basic Tags */
.ui.inverted.basic.tag.labels .grey.label,
.ui.ui.ui.inverted.grey.basic.tag.label {
  border: 1px solid #DCDDDE;
}
.ui.inverted.basic.tag.labels .grey.label:before,
.ui.ui.ui.inverted.grey.basic.tag.label:before {
  border-color: inherit;
  border-width: 1px 0 0 1px;
  border-style: inherit;
  background-color: #1B1C1D;
  right: calc(100% + 1px);
}
.ui.black.labels .label,
.ui.ui.ui.black.label {
  background-color: #1B1C1D;
  border-color: #1B1C1D;
  color: #FFFFFF;
}

/* Link */
.ui.black.labels a.label:hover,
a.ui.ui.ui.black.label:hover {
  background-color: #27292a;
  border-color: #27292a;
  color: #FFFFFF;
}

/* Ribbon */
.ui.ui.ui.black.ribbon.label {
  border-color: #020203;
}

/* Basic */
.ui.basic.labels .black.label,
.ui.ui.ui.basic.black.label {
  background: none #FFFFFF;
  border-color: #1B1C1D;
  color: #1B1C1D;
}
.ui.basic.labels a.black.label:hover,
a.ui.ui.ui.basic.black.label:hover {
  background: none #FFFFFF;
  border-color: #27292a;
  color: #27292a;
}

/* Inverted */
.ui.inverted.labels .black.label,
.ui.ui.ui.inverted.black.label {
  background-color: #545454;
  border-color: #545454;
  color: #1B1C1D;
}

/* Inverted Link */
.ui.inverted.labels a.black.label:hover,
a.ui.ui.ui.inverted.black.label:hover {
  background-color: #000000;
  border-color: #000000;
  color: #FFFFFF;
}

/* Inverted Ribbon */
.ui.ui.ui.inverted.black.ribbon.label {
  border-color: #616161;
}

/* Inverted Basic */
.ui.inverted.basic.labels .black.label,
.ui.ui.ui.inverted.basic.black.label {
  background-color: #1B1C1D;
  border-color: #545454;
  color: rgba(255, 255, 255, 0.9);
}
.ui.inverted.basic.labels a.black.label:hover,
a.ui.ui.ui.inverted.basic.black.label:hover {
  border-color: #000000;
  background-color: #1B1C1D;
}

/* Inverted Basic Tags */
.ui.inverted.basic.tag.labels .black.label,
.ui.ui.ui.inverted.black.basic.tag.label {
  border: 1px solid #545454;
}
.ui.inverted.basic.tag.labels .black.label:before,
.ui.ui.ui.inverted.black.basic.tag.label:before {
  border-color: inherit;
  border-width: 1px 0 0 1px;
  border-style: inherit;
  background-color: #1B1C1D;
  right: calc(100% + 1px);
}

/*-------------------
     Horizontal
--------------------*/

.ui.horizontal.labels .label,
.ui.horizontal.label {
  margin: 0 0.5em 0 0;
  padding: 0.4em 0.833em;
  min-width: 3em;
  text-align: center;
}

/*-------------------
         Circular
  --------------------*/

.ui.circular.labels .label,
.ui.circular.label {
  min-width: 2em;
  min-height: 2em;
  padding: 0.5em !important;
  line-height: 1em;
  text-align: center;
  border-radius: 500rem;
}
.ui.empty.circular.labels .label,
.ui.empty.circular.label {
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  width: 0.5em;
  height: 0.5em;
  vertical-align: baseline;
}

/*-------------------
         Pointing
  --------------------*/

.ui.pointing.label {
  position: relative;
}
.ui.attached.pointing.label {
  position: absolute;
}
.ui.pointing.label:before {
  background-color: inherit;
  background-image: inherit;
  border-width: 0;
  border-style: solid;
  border-color: inherit;
}

/* Arrow */
.ui.pointing.label:before {
  position: absolute;
  content: '';
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-image: none;
  z-index: 2;
  width: 0.6666em;
  height: 0.6666em;
  -webkit-transition: none;
  transition: none;
}

/*--- Above ---*/

.ui.pointing.label,
.ui[class*="pointing above"].label {
  margin-top: 1em;
}
.ui.pointing.label:before,
.ui[class*="pointing above"].label:before {
  border-width: 1px 0 0 1px;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
  top: 0;
  left: 50%;
}

/*--- Below ---*/

.ui[class*="bottom pointing"].label,
.ui[class*="pointing below"].label {
  margin-top: 0;
  margin-bottom: 1em;
}
.ui[class*="bottom pointing"].label:before,
.ui[class*="pointing below"].label:before {
  border-width: 0 1px 1px 0;
  top: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
  top: 100%;
  left: 50%;
}

/*--- Left ---*/

.ui[class*="left pointing"].label {
  margin-top: 0;
  margin-left: 0.6666em;
}
.ui[class*="left pointing"].label:before {
  border-width: 0 0 1px 1px;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
  bottom: auto;
  right: auto;
  top: 50%;
  left: 0;
}

/*--- Right ---*/

.ui[class*="right pointing"].label {
  margin-top: 0;
  margin-right: 0.6666em;
}
.ui[class*="right pointing"].label:before {
  border-width: 1px 1px 0 0;
  -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
          transform: translateX(50%) translateY(-50%) rotate(45deg);
  top: 50%;
  right: 0;
  bottom: auto;
  left: auto;
}

/* Basic Pointing */

/*--- Above ---*/

.ui.basic.pointing.label:before,
.ui.basic[class*="pointing above"].label:before {
  margin-top: -1px;
}

/*--- Below ---*/

.ui.basic[class*="bottom pointing"].label:before,
.ui.basic[class*="pointing below"].label:before {
  bottom: auto;
  top: 100%;
  margin-top: 1px;
}

/*--- Left ---*/

.ui.basic[class*="left pointing"].label:before {
  top: 50%;
  left: -1px;
}

/*--- Right ---*/

.ui.basic[class*="right pointing"].label:before {
  top: 50%;
  right: -1px;
}

/*------------------
     Floating Label
  -------------------*/

.ui.floating.label {
  position: absolute;
  z-index: 100;
  top: -1em;
  right: 0;
  white-space: nowrap;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.ui.right.aligned.floating.label {
  -webkit-transform: translateX(1.2em);
          transform: translateX(1.2em);
}
.ui.left.floating.label {
  left: 0;
  right: auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.ui.left.aligned.floating.label {
  -webkit-transform: translateX(-1.2em);
          transform: translateX(-1.2em);
}
.ui.bottom.floating.label {
  top: auto;
  bottom: -1em;
}

/*-------------------
        Sizes
--------------------*/

.ui.labels .label,
.ui.label {
  font-size: 0.85714286rem;
}
.ui.mini.labels .label,
.ui.mini.label {
  font-size: 0.64285714rem;
}
.ui.tiny.labels .label,
.ui.tiny.label {
  font-size: 0.71428571rem;
}
.ui.small.labels .label,
.ui.small.label {
  font-size: 0.78571429rem;
}
.ui.large.labels .label,
.ui.large.label {
  font-size: 1rem;
}
.ui.big.labels .label,
.ui.big.label {
  font-size: 1.28571429rem;
}
.ui.huge.labels .label,
.ui.huge.label {
  font-size: 1.42857143rem;
}
.ui.massive.labels .label,
.ui.massive.label {
  font-size: 1.71428571rem;
}


/*******************************
         Theme Overrides
*******************************/



/*******************************
         Site Overrides
*******************************/

