/*!
 * # Fomantic-UI - Site
 * http://github.com/fomantic/Fomantic-UI/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */


/*******************************
             Page
*******************************/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&subset=latin&display=swap');
html,
body {
  height: 100%;
}
html {
  font-size: 14px;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 320px;
  background: #FFFFFF;
  font-family: 'Montserrat', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
}


/*******************************
             Headers
*******************************/

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  line-height: 1.28571429em;
  margin: calc(2rem - 0.1428571428571429em) 0 1rem;
  font-weight: bold;
  padding: 0;
}
h1 {
  min-height: 1rem;
  font-size: 2rem;
}
h2 {
  font-size: 1.71428571rem;
}
h3 {
  font-size: 1.28571429rem;
}
h4 {
  font-size: 1.07142857rem;
}
h5 {
  font-size: 1rem;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 0;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
  margin-bottom: 0;
}


/*******************************
             Text
*******************************/

p {
  margin: 0 0 1em;
  line-height: 1.4285em;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}

/*-------------------
        Links
--------------------*/

a {
  color: #C4A37B;
  text-decoration: none;
}
a:hover {
  color: #cd8e42;
  text-decoration: none;
}


/*******************************
         Scrollbars
*******************************/



/*******************************
          Highlighting
*******************************/


/* Site */
::-webkit-selection {
  background-color: #CCE2FF;
  color: rgba(0, 0, 0, 0.87);
}
::-moz-selection {
  background-color: #CCE2FF;
  color: rgba(0, 0, 0, 0.87);
}
::selection {
  background-color: #CCE2FF;
  color: rgba(0, 0, 0, 0.87);
}

/* Form */
textarea::-webkit-selection,
input::-webkit-selection {
  background-color: rgba(100, 100, 100, 0.4);
  color: rgba(0, 0, 0, 0.87);
}
textarea::-moz-selection,
input::-moz-selection {
  background-color: rgba(100, 100, 100, 0.4);
  color: rgba(0, 0, 0, 0.87);
}
textarea::-moz-selection, input::-moz-selection {
  background-color: rgba(100, 100, 100, 0.4);
  color: rgba(0, 0, 0, 0.87);
}
textarea::selection,
input::selection {
  background-color: rgba(100, 100, 100, 0.4);
  color: rgba(0, 0, 0, 0.87);
}

/* Force Simple Scrollbars */
body ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}
body ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0;
}
body ::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
body ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.15);
}
body ::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 135, 139, 0.8);
}

/* Inverted UI */
body .ui.inverted:not(.dimmer)::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}
body .ui.inverted:not(.dimmer)::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
}
body .ui.inverted:not(.dimmer)::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.15);
}
body .ui.inverted:not(.dimmer)::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.35);
}


/*******************************
        Global Overrides
*******************************/



/*******************************
         Site Overrides
*******************************/

body {
  font-family: 'Montserrat', sans-serif;
}
.masthead.segment.header {
  padding: 0 0 1em 0;
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1370px !important;
  }
}
.padding-null {
  padding: 0 !important;
}
.padding-lr-null {
  margin-right: 10px;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
/*icons*/
@font-face {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: url('./assets/fonts/icomoon.eot?x8g6oi');
  src: url('./assets/fonts/icomoon.eot?x8g6oi#iefix') format('embedded-opentype'), url('./assets/fonts/icomoon.ttf?x8g6oi') format('truetype'), url('./assets/fonts/icomoon.woff?x8g6oi') format('woff'), url('./assets/fonts/icomoon.svg?x8g6oi#icomoon') format('svg');
}
[class^='icon-'],
[class*=' icon-'] {
  
/* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
}
.icon-arrow:before {
  content: '\e900';
}
.icon-Front_logo .path1:before {
  content: '\e901';
  color: #c4a37b;
}
.icon-Front_logo .path2:before {
  margin-left: -3.33300781em;
  content: '\e902';
  color: #3a3a3a;
}
.icon-Front_logo .path3:before {
  margin-left: -3.33300781em;
  content: '\e903';
  color: #3a3a3a;
}
.icon-Graphic_pattern:before {
  content: '\e904';
}
.icon-Leather_icon:before {
  content: '\e905';
}
.icon-spring_drive_icon:before {
  content: '\e906';
}
.icon-warranty_icon:before {
  content: '\e907';
}
.icon-water_resistant:before {
  content: '\e908';
}
.main-brown-color {
  color: #C4A37B;
}
.slogen-box {
  margin-top: -16px;
  padding-left: 40px;
}
.masthead h1.ui.header.slogen {
  font-size: 50px;
  font-weight: 700;
  width: 460px;
  padding-bottom: 35px;
}
@media only screen and (max-width: 768px) {
  .masthead h1.ui.header.slogen {
    width: 60%;
  }
}
.slogen-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  width: 440px;
  margin: 0;
  margin-top: -10px;
  padding-bottom: 35px;
}
@media only screen and (max-width: 768px) {
  .slogen-text {
    display: none;
  }
}
.primary-button,
.subcribe-button {
  font-size: 18px;
  font-weight: 600;
  width: 220px;
  height: 54px;
  padding: 17px 0 15px 0;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
}
.subcribe-button {
  font-size: 16px;
  width: 100%;
  height: 40px;
  padding: 10px 5px;
}
.ui.grid > [class*='four wide'].column.spec {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 330px !important;
  text-align: center;
  color: #ffffff;
}
@media only screen and (max-width: 992px) {
  .ui.grid > [class*='four wide'].column.spec {
    width: 50% !important;
    border: 1px solid #484239;
  }
}
.ui.grid > [class*='four wide'].column.spec.spec:not(:first-child)::after {
  position: absolute;
  top: 20%;
  left: 0;
  width: 1px;
  height: 100px;
  content: '';
  background-color: rgba(196, 163, 123, 0.2);
}
@media only screen and (max-width: 992px) {
  .ui.grid > [class*='four wide'].column.spec.spec:not(:first-child)::after {
    display: none;
  }
}
.ui.grid > [class*='four wide'].column .spec-text {
  font-size: 18px;
  font-weight: bold;
  padding-top: 20px;
}
.icon {
  font-size: 50px;
  margin-top: -5px;
  color: #C4A37B;
}
.footer h4 {
  font-size: 14px;
  font-weight: bold;
  color: #3a3a3a;
}
.footer a {
  line-height: 30px;
  display: block;
  color: #ababab;
}
.footer .ui.form .fields {
  margin-bottom: 20px;
}
.full-width {
  width: 100%;
}
.ui.form.error .error.message:not(:empty) {
  display: block;
  padding: 5px;
  color: #9f3a38;
  border-color: #e0b4b4;
  background: #fff6f6;
}
.ui.form.error .error.message:not(:empty) .list li {
  list-style-type: none;
}
/*media queries overrides*/
@media only screen and (max-width: 991.98px) and (min-width: 768px) {
  .ui.ui.ui.container:not(.fluid) {
    width: 100% !important;
  }
  .ui.secondary.pointing.menu .item {
    padding: 0 10px !important;
  }
  .ui.grid > .row {
    padding: 0 !important;
  }
}
@media only screen and (min-width: 991.98px) and (max-width: 1260px) {
  .ui.grid > [class*='four wide'].column.spec {
    width: 25% !important;
  }
  .ui.grid {
    width: 100%;
  }
}
